// Imports
@use "declarations" as *;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: ubuntu, sans-serif;
  background-color: $dark-1;
  color: #eee;
}

// Container
.container {
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    text-align: center;
    color: $primary;
    padding-top: 20px;
    text-transform: uppercase;
  }
}
